.a-endingPage {
  background-color: #36393f;
  &__actions {
    width: 30%;
  }
  &__btn {
    width: 4rem;
    border-radius: 5px;
    &.--accept {
      width: 75%;
    }
    &.--cancel {
      width: 25%;
    }
  }
}
